*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

.container{
    background:#f1f1f1;
    text-align: center;
    width:100vw;
    height: 100vh;
    padding:80px 0;
}

.container h1{
    font-size:20px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.information{
    max-width: 1200px;
    margin:auto;
    padding:0 20px;
}

.information_pics{
    padding:40px 0;
}

.information_pics img{
    width:150px;
    height:150px;
    border-radius: 50%;
    margin:0 20px;
    cursor: pointer;
    filter:grayscale(100%);
    transition:1s;
}

.information_pics img:hover,.information_pics img.active{
    filter:none;
}

.information_contents{
    max-width:600px;
    margin:auto;
}

.innercontent{
    display: none;
}

.innercontent.active{
    display: block;
}

.innercontent p{
    color:#5c5c5c;
    margin-bottom: 20px;
}

.innercontent_description{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
}